*{
	box-sizing: border-box;
	font-family: sans-serif;
}

html, body{
	margin: 0;
}

body{
	background: #789b4f;
	background-image: url(../img/124.jpg);
	background-repeat: repeat;
}

main{
	background: white;
	padding: 3em;
	border-radius: 20px;
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	border: 5px solid black;
	h1{
		text-align: center;
	}
	section.score{
		display: flex;
		justify-content: center;
		form{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 4rem 1vw 3rem;
			&:first-of-type{
				border-right: 4px solid black;
			}
			input{
				text-align: center;
				&[type=text]{
					background: none;
					font-size: 2rem;
					max-width: 6em;
					border: none;
					margin-bottom: 1rem;
					padding: .5rem 0;
					border-bottom: 1px solid transparent;
					&::placeholder{
						border-bottom: 1px solid black;
						padding-bottom: .45rem;
					}
					&:focus{
						-webkit-transition: all .5s ease;
						-moz-transition: all .5s ease;
						-ms-transition: all .5s ease;
						-o-transition: all .5s ease;
						transition: all .5s ease;
						outline: none;
						border-bottom: 1px solid black;
					}
				}
				&[type=number]{
					font-size: 2em;
					width: 6rem;
					padding: 1rem 0 1rem 1rem;
				}
			}
			div{
				margin-top: 1em;
				button{
					font-size: 3em;
					width: 5rem;
					border: none;
					&.up{
						background-color: rgb(119, 187, 69);
					}
					&.down{
						background-color: rgb(223, 90, 90);
					}
				}
			}
		}
	}
	section.timer{
		padding-top: 2em;
		margin-top: 2em;
		border-top: 4px solid black;
		text-align: center;
		color: white;
		div{
			display: inline-block;
			p{
				font-size: 2em;
				font-weight: bold;
				float: left;
				&::before{
					content: ":";
				}
				&:first-of-type::before{
					content: none;
				}
			}
		}
		button{
			font-size: 3em;
			border: none;
			background-color: rgb(119, 187, 69);
		}
	}
}
