<section class="home_banner">
	<div>
		<h1>Oops...</h1>
		<h2>{{{error}}}</h2>
		<form class="homeForm" action="#">
			<input type="text" placeholder="Zoek naar muziek...">
			<input type="submit" value="ðŸ”">
		</form>
	</div>
</section>
