<section class="home_banner">
	<div>
		<h1> Welkom bij OBA music </h1>
		<form class="homeForm" action="/search/" method="get">
			<input type="text" placeholder="Zoek naar muziek..." name="search">
			<input type="submit" value="ðŸ”">
		</form>
	</div>
</section>
